.add-todo {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    margin-top: 20px;
    width: 100%;

    .form-control {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 15px;

      input {
        width: 100%;
        background-color: transparent;
        border: 3px solid #555;
        padding: 7px;
        border-radius: 5px;
        color: #eee;

        &:focus {
          outline: none;
        }

        &[type='submit'] {
          transition: transform 0.3s ease, border-color 0.3s ease;
          cursor: pointer;

          &:hover {
            transform: scale(1.01);
            border-color: rgb(249, 75, 255);
          }
        }
      }
    }
  }
}
